body { background-color: #fff;
        color: #555; }
header { background-color: #002171;
            color: #fff; }
nav { background-color: #bbdefb; }
h1 { margin-bottom: 0; }
h2 { color: #197602; }
dt { color: #002171; }
address { font-style: normal; }
.resort { color: #197602; }